body{
    padding-left: 11em;
    color: rgb(5, 24, 19);
    background-color: beige;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-image: url(../img/fish.jpg);
    background-size: 110%;
    background-repeat: no-repeat;
 }
 h1{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
ul.navbar{
    position: absolute;
    top:2em;
    left:1em;
    width:9em;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul.navbar li{
    background-color: coral;
    color: azure;
    border-right: 1em solid rgb(166, 9, 9);
    margin: 0.5em 0;
    padding: 0.3em;
}
ul.navbar a{
    text-decoration: none;
}
a:link{
    color: bisque;
}
p.footer{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-small;
}
img{
    width: 30rem;
    height: 40rem;
    object-fit:cover;
}
